.resume {
  max-width: 800px;
  margin: 40px auto;
  font-family: "Times New Roman", serif;
  font-size: 16px;
  line-height: 1.6;
  color: black;
}

.name {
  text-align: left;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
}

.contact {
  text-align: left;
  margin-bottom: 20px;
}


h3 {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
